.node-button {
	text-decoration: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    margin: .2rem;
    background: #FFF;
    color: #223;
}

.error-text {
    color: red;
}

.flash-message__info {
    @extend .error-text;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    @extend .node-button;
}

.nav-bar {
    background: #DADADA;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > a {
        background: none;
        color: #223;
    }
}

.polls {
    margin: 1rem 10rem;
    background: #DADADA;
    padding: 1rem 5rem;
}

.poll {
    display: block;
    text-align: center;
}

