<!doctype html>
    <head>

    <script src="/bundle.js"></script>

    </head>
    <body>
        <nav class='nav-bar'>
            <a href='/' class='page-title'>Nodejs Polls</a>
            <a href='/user/polls' class='my-polls'>My Polls</a>
            <a href='/polls/new' class='new-poll'>New Poll</a>
            <a href='/user/' class='username'><%= username %></a>
            <a href='/logout' class='logout'>Sign out</a>
        </nav>

        <form action="/polls/create" method="post" class='create-poll'>
            <div>
                <label>Title:</label>
                <input type="text" name="title"/>
            </div>
            <div>
                <label>Options (separated by comma):</label>
                <input type="text" name="choices"/>
            </div>
            <div>
                <input type="submit" value="Create"/>
            </div>
        </form>
        </div>

    </body>
</html>
